.vscode
downloads/

# CSharp
obj/
bin/

# Go

# Java
.gradle
gradle/
build/
target/
.project

# Nodejs
node_modules/
package-lock.json

# PHP
vendor/
composer.lock

# Python
Pipfile.lock

# Ruby
Gemfile.lock
