.vscode
downloads/

# CSharp
obj/
bin/

# Go

# Java
.gradle
gradle/
build/
target/
.project
.settings
.classpath

# Nodejs
node_modules/
package-lock.json

# PHP
vendor/
composer.lock

# Python
Pipfile.lock
__pycache__

# Ruby
Gemfile.lock
